<div class="jumbotron">
<h2>About Us!</h2>
<p>Welcome to Death Match. We are a community of developers, entrepreneurs, and investors who are interested in 
meeting one another and fighting to the death.</p>
</div>