@import "bootstrap-sprockets";
@import "bootstrap";    
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    // Gradient from http://uigradients.com/
  background: -webkit-linear-gradient(90deg, #780206 10%, #061161 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #780206 10%, #061161 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #780206 10%, #061161 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #780206 10%, #061161 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #780206 10%, #061161 90%); /* W3C */
      
  color: white;  
}

.well {
    color: #404040;
}

.jumbotron {
    color: #404040;
}

// .free {
//     color: white;
// }

.alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.navbar {
    position: relative;
}

// .container .row {
//     position: relative;
//     top: 100px;
// }

// .container .jumbotron {
//     position: relative;
//     top: 100px;
// }