@import "bootstrap-sprockets";
@import "bootstrap";    
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    // Gradient from http://uigradients.com/
//   background: -webkit-linear-gradient(90deg, #780206 10%, #061161 90%); /* Chrome 10+, Saf5.1+ */
//   background:    -moz-linear-gradient(90deg, #780206 10%, #061161 90%); /* FF3.6+ */
//   background:     -ms-linear-gradient(90deg, #780206 10%, #061161 90%); /* IE10 */
//   background:      -o-linear-gradient(90deg, #780206 10%, #061161 90%); /* Opera 11.10+ */
//   background:         linear-gradient(90deg, #780206 10%, #061161 90%); /* W3C */
      
//   background: #44A08D; /* fallback for old browsers */
//   background: -webkit-linear-gradient(to left, #44A08D , #093637); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to left, #44A08D , #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   background-image: url("concrete.jpg");
//   background: black;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: white;  
}

.well {
    color: #404040;
}

.jumbotron {
    color: #404040;
}

// .free {
//     color: white;
// }

.alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.navbar {
    position: relative;
}

// .container .row {
//     position: relative;
//     top: 100px;
// }

// .container .jumbotron {
//     position: relative;
//     top: 100px;
// }